<div class="row">
        <div class="col-4">
                <div class="card">
                    <div class="card-header bg-primary text-center">
                        <h5>Total Order</h5>
                    </div>
                    <div class="card-body bg-light">
                        <h4 class="card-text text-center">{{total_orders}}</h4>
                    </div>
                </div>	
        </div>

        <div class="col-4">
                <div class="card">
                    <div class="card-header bg-success text-center">
                        <h5>Order Delivered</h5>
                    </div>
                    <div class="card-body">
                        <h4 class="card-text text-center">{{delivered}}</h4>
                    </div>
                </div>
        </div>
        <div class="col-4">
                <div class="card">
                    <div class="card-header bg-warning text-center">
                        <h5>Order Pending</h5>
                    </div>
                    <div class="card-body">
                        <h4 class="card-text text-center">{{pending}}</h4>
                    </div>
                </div>
        </div>
</div>
