    <div class="best-features">
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <div class="section-heading">
              <h2>About Authenove</h2>
            </div>
          </div>
          <div class="col-md-6">
            <div class="left-content">
              <h4>Looking for the best authentic products?</h4>
              <p>Authenove provides you the best products and services.
               {% comment %} <a rel="nofollow" href="https://templatemo.com/contact">Contact us</a> {% endcomment %}Contact us for more info.</p>
              <ul class="featured-list">
                <li><a href="#">Authentic Shotorongi product</a></li>
                <li><a href="#">Authentic Ceramic Sets</a></li>
                <li><a href="#">Authentic Flower Sets</a></li>
                <li><a href="#">Authentic Mathir Sets</a></li>
                <li><a href="#">Men's Collections</a></li>
              </ul>
              {% comment %} <a href="#" class="filled-button">Read More</a> {% endcomment %}
            </div>
          </div>
          <div class="col-md-6">
            <div class="right-image">
              <img src="#" alt="">
            </div>
          </div>
        </div>
      </div>
    </div>


    <div class="call-to-action">
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <div class="inner-content">
              <div class="row">
                <div class="col-md-8">
                  <h4>Creative &amp; Unique <em>Authenove</em> Products</h4>
                  <p>Explore our website and get the best product you want.</p>
                </div>
                <div class="col-md-4">
                  <a href="{% url 'products' %}" class="filled-button">Purchase Now</a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>